@* taskManager Template File *@
@(tasks: Seq[Task], taskUsername: String, taskForm: Form[NewTask])(implicit request: MessagesRequestHeader, flash: Flash, assetsFinder: AssetsFinder)

@main(taskUsername ++ "'s Task Manager", assetsFinder) {
	<div class="centered fullscreen">
	<h2 class="centered">Task List</h2>
	<p class="centered">Welcome, @(taskUsername)!</p>
	<h3 class="centered">Add a task to your list</h3>
	@helper.form(action = helper.CSRF(routes.TaskController.addTask)) {
		@helper.inputText(taskForm("title"))<br>
		@helper.textarea(taskForm("desc"))
		<input type="submit" value="Submit">
	}
	<br>
	<h3 class="centered">Your existing tasks</h3>
	<table class="centered" border="1">
		<tr><th>Title</th><th>Description</th><th>X</th></tr>
		@for(t <- tasks) {
			<tr id="@(t.taskId)"><td>@(t.title)</td><td>@(t.descr)</td><td><form action="@routes.TaskController.removeTask(t.taskId.get)"><input type="submit" value="Remove"></form></td></tr>
		}
	</table>
	<br>
	<form class="centered" action="@routes.TaskLoginController.logout"><input type="submit" value="Logout"></form>
	</div>
}
