@* taskLogin Template File *@
@(loginForm: Form[NewTaskUser], registerForm: Form[NewTaskUser])(implicit request: MessagesRequestHeader, flash: Flash, assetsFinder: AssetsFinder)

@main("Task Manager Login/Register", assetsFinder) {
	<div class="centered fullscreen">
	<h2 class="centered">Task Management System</h2>
	<br>
	<h3 class="centered">Login</h3>
	@helper.form(action = helper.CSRF(routes.TaskLoginController.login)) {
	  @helper.inputText(loginForm("username"))
	  @helper.inputPassword(loginForm("password"))
	  <input type="submit" value="Submit">
	}
	<br>
	<h3 class="centered">Register</h3>
	@helper.form(action = helper.CSRF(routes.TaskLoginController.register)) {
	  @helper.inputText(registerForm("username"))
	  @helper.inputPassword(registerForm("password"))
	  <input type="submit" value="Submit">
	}
	</div>
}
